<h3> {{ leyenda }}</h3>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Barra de Progreso...
                </h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentajeAzul" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentajeAzul + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [attr.ariaValuenow]="porcentajeAmarillo" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentajeAmarillo + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador leyenda="Progess Azul" [porcentaje]="porcentajeAzul" (actualizaValor)=" porcentajeAzul = $event">

                </app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador leyenda="Progess Amarillo" [porcentaje]="porcentajeAmarillo" (actualizaValor)="porcentajeAmarillo = $event">

                </app-incrementador>
            </div>
        </div>
    </div>
</div>